<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../public/css/boards.css" />

    <style>
      .header {
        background-color: black;
      }

    
      .notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
    </style>
  </head>
  <body>
    <div id="notification" style="display: none;" class="notification">
        <!-- 알림 메시지가 여기에 표시됩니다 -->
      </div>
    <div class="header">
      <header class="p-3 text-bg-dark">
        <div class="container">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <a
              href="/"
              class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
              <svg
                class="bi me-2"
                width="40"
                height="32"
                role="img"
                aria-label="Bootstrap"
              >
                <use xlink:href="#bootstrap"></use>
              </svg>
            </a>

            <ul
              class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
              <li>
                <a
                  href="#"
                  class="nav-link px-2 text-info"
                  onclick="location.href='/boards'"
                  >Life Bit</a
                >
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="main">
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <img
            src="https://life-bit.s3.ap-northeast-2.amazonaws.com/<%= board.thumbnail %>"
            class="boardImage"
            alt="..."
          />
          <h1 class="display-5 fw-bold"><%= board.title %></h1>
          <p class="content"><%= board.content %></p>
          <form id="likeBtn">
          <button id="likeButton" type="submit" class="btn btn-dark">좋아요!</button>
        </form>
          <p class="content">❤️<%= board.likedCount %></p>
          <p class="content">카테고리: <%= board.category %></p>
        </div>
      </div>
    </div>
<% if(currentUserId && board.userId === currentUserId) { %>
  <form id="bottuomBtn">
    <button
      onclick="redirectToPage(event)"
      type="button"
      class="btn btn-dark"
    >
      게시물 수정
    </button>

    <button type="submit" class="btn btn-dark">게시물 삭제</button>
  </form>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
      function redirectToPage(event) {
        var currentUrl = window.location.href;
        var boardId = null;
        var urlParts = currentUrl.split('/');
        var index = urlParts.indexOf('view');
        if (index !== -1 && index < urlParts.length - 1) {
          boardId = urlParts[index + 1];
        }
        if (boardId) {
          window.location.href = `/boards/view/${boardId}/update`;
        } else {
          console.log('boardId를 가져올 수 없습니다.');
        }
      }

      $('#bottuomBtn').submit((event) => {
        event.preventDefault();
        var currentUrl = window.location.href;
        var boardId = null;
        var urlParts = currentUrl.split('/');
        var index = urlParts.indexOf('view');
        if (index !== -1 && index < urlParts.length - 1) {
          boardId = urlParts[index + 1];
        }

        $.ajax({
          url: `/boards/${boardId}`,
          method: 'DELETE',
          contentType: 'application/json',
          data: JSON.stringify(),
          success: (data) => {
            alert('게시물 삭제가 완료되었습니다.');
            window.location.href = '/boards';
          },
          error: (jqXHR, textStatus, errorThrown) => {
            const errorMessage = jqXHR.responseJSON
              ? jqXHR.responseJSON.message
              : '게시물 삭제에 실패하였습니다.';
            alert(errorMessage);
            console.log(errorMessage);
          },
        });
      });

      // -----------------------------------------------------------

      $('#likeBtn').submit((event) => {
        event.preventDefault();
        var currentUrl = window.location.href;
        var boardId = null;
        var urlParts = currentUrl.split('/');
        var index = urlParts.indexOf('view');
        if (index !== -1 && index < urlParts.length - 1) {
          boardId = urlParts[index + 1];
        }

        document.getElementById('likeBtn').addEventListener('click', async function() {
        const response = await fetch(`/boards/${boardId}/like`, {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({
        boardId: boardId
        })
      });
    });

        const socket = io();

        socket.on('likeNotification', function(data) {
        console.log('좋아요 알림 받음:', data);
        const { boardId, userId } = data;
        const alertMessage = `게시물 ${boardId}에 대한 좋아요 알림: 유저${userId}님이 좋아요를 눌렀습니다.`;

        // 알림을 표시할 요소를 가져옴
        const notificationElement = document.getElementById('notification');
        // 알림 메시지를 해당 요소의 텍스트로 설정
        notificationElement.innerText = alertMessage;
        // 알림을 화면에 표시
        notificationElement.style.display = 'block';

        // 5초 후에 알림을 숨기는 타이머를 설정합니다.
        setTimeout(() => {
          notificationElement.style.display = 'none';
        }, 5000); // 5000밀리초 = 5초
    });


      $.ajax({
        url: `/boards/${boardId}/like`,
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(),
        success: (data) => {
        //   alert('좋아요!');
          window.location.href = `/boards/view/${boardId}`;
        },
        error: (jqXHR, textStatus, errorThrown) => {
          const errorMessage = jqXHR.responseJSON
          ? jqXHR.responseJSON.message
          : '게시물 좋아요에 실패하였습니다.';
          alert(errorMessage);
          console.log(errorMessage);
        },
      });
    });
    </script>
  </body>
</html>
