<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challengers Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            padding-top: 60px;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        h1 {
            text-align: center;
            margin-bottom: 40px;
        }
        .card {
            margin-bottom: 20px;
        }
        .search-bar {
            margin-bottom: 20px;
        }
        .btn-primary {
            background-color: #6c757d;
            border-color: #6c757d;
        }
    </style>
</head>
<body>
    <%- include('nav.ejs'); -%>
    <div class="container">
        <h1>Welcome to Life-Bit</h1>
    
        <form class="search-bar">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search challengers...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchBtn" type="button">Search</button>
                </div>
            </div>
        </form>
    
        <div class="btn-group mb-3" role="group">
            <button type="button" class="btn btn-secondary category">Sports</button>
            <button type="button" class="btn btn-secondary category">Cooking</button>
            <button type="button" class="btn btn-secondary category">Music</button>
            <button type="button" class="btn btn-secondary category">Art</button>
            <button type="button" class="btn btn-secondary category">Travel</button>
            <button type="button" class="btn btn-secondary category">Photography</button>
            <button type="button" class="btn btn-secondary category">Workout</button>
            <button type="button" class="btn btn-secondary category">Reading</button>
            <button type="button" class="btn btn-secondary category">Study</button>
            <button type="button" class="btn btn-secondary category">Selfhelp</button>
        </div>

    <% data.forEach(mission => { %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= mission.title %></h5>
            <p class="card-text"><%= mission.description %></p>
            <p class="card-text">#<%= mission.category %></p>
            <a href="/mission/<%= mission.missionId %>" class="btn btn-primary">Let's Start</a>

        </div>
    </div>
    <% }); %>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

function searchTitle(event) {
    event.preventDefault(); 
    
    var searchValue = document.querySelector('.form-control').value;

    fetch(`/main/search?title=${searchValue}`)
    .then(function(response) {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text();
    })
    .then(function(data) {
        document.querySelector('.container').innerHTML = data;
    })
    .catch(function(error) {
        console.error('There has been a problem with your fetch operation:', error);
    });
}

function searchCategory(event) {
    event.preventDefault(); 

    var category = event.target.innerText;

    fetch(`/main/search?category=${category}`)
    .then(function(response) {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text();
    })
    .then(function(data) {
        document.querySelector('.container').innerHTML = data;
    })
    .catch(function(error) {
        console.error('There has been a problem with your fetch operation:', error);
    });
}

// 페이지가 로드되면 이벤트 핸들러를 추가
document.addEventListener('DOMContentLoaded', function() {

    document.addEventListener('submit', function(event) {
        if (event.target.matches('.search-bar')) { // 검색 폼이 제출되었는지 확인
            searchTitle(event); // 검색 이벤트를 처리
        }
    });

    document.addEventListener('click', function(event) {
        if (event.target.matches('.searchBtn')) { // 검색 버튼이 클릭되었는지 확인
            searchTitle(event); // 검색 이벤트를 처리
        }
    });

    document.addEventListener('click', function(event) {
        if (event.target.matches('.category')) { // 검색 버튼이 클릭되었는지 확인
            searchCategory(event); // 검색 이벤트를 처리
        }
    });
});



</script>
</body>
</html>